@import url('emfit-blessed1.css?z=1573759498339');


.datepickerwrap .headerwrap .closewrap { position: absolute; top: 5px; right: 10px; }

.datepickerwrap .headerwrap .closewrap .closebutton { font-weight: 800; font-size: 16px; color: #fff; -webkit-transition: color 0.3s; transition: color 0.3s; }

.datepickerwrap .headerwrap .closewrap .closebutton:hover { color: #000; }

.datepickerwrap .calendarwrap { width: 100%; max-width: 350px; margin: 0 auto; padding: 25px 0 50px; }

.datepickerwrap .pricebutton { display: -webkit-box; display: flex; width: 100%; margin-top: 18px; }

.datepickerwrap .pricebutton .label { -webkit-box-flex: 2; flex-grow: 2; padding: 0; text-align: center; }

.datepickerwrap .pricebutton .price { padding: 0 25px; letter-spacing: 2px; }

.datepickerwrap .pricebutton.disabled { opacity: 0.5; pointer-events: none; }

.datepickerwrap .messagewrap { padding-top: 20px; font-size: 18px; line-height: 1.3; }

@media only screen and (max-width: 420px) { .datepickerwrap .headerwrap .pickerintro { font-size: 15px; padding: 10px 80px 10px 10px; }
  .datepickerwrap .headerwrap .closewrap { top: 2px; }
  .datepickerwrap .headerwrap .closewrap .closebutton { font-size: 15px; }
  .datepickerwrap .calendarwrap { padding: 0 0 30px; }
  .datepickerwrap .buttonwrap { padding: 0 10px; }
  .datepickerwrap .pricebutton .price { padding: 0 10px; } }

.datepicker.dropdown-menu, .datepicker.datepicker-inline { width: 100%; padding: 0; border: none; border-radius: 0; font-weight: 400; color: #000; margin: 0 auto; }

.datepicker.dropdown-menu table, .datepicker.datepicker-inline table { width: 100%; }

.datepicker.dropdown-menu th, .datepicker.datepicker-inline th { font-weight: 400; }

.datepicker.dropdown-menu th.prev, .datepicker.dropdown-menu th.next, .datepicker.dropdown-menu th.datepicker-switch, .datepicker.datepicker-inline th.prev, .datepicker.datepicker-inline th.next, .datepicker.datepicker-inline th.datepicker-switch { padding: 25px 0; }

.datepicker.dropdown-menu th.prev, .datepicker.dropdown-menu th.next, .datepicker.datepicker-inline th.prev, .datepicker.datepicker-inline th.next { font-size: 24px; }

.datepicker.dropdown-menu th.datepicker-switch, .datepicker.datepicker-inline th.datepicker-switch { font-size: 21px; letter-spacing: 0.2px; }

.datepicker.dropdown-menu th.dow, .datepicker.datepicker-inline th.dow { padding-bottom: 12px; font-size: 13px; letter-spacing: 0.2px; color: #C8C9CC; border-bottom: 1px solid #C8C9CC; }

.datepicker.dropdown-menu td.day, .datepicker.datepicker-inline td.day { padding-top: 18px; padding-bottom: 18px; font-size: 15px; border-radius: 50%; }

.datepicker.dropdown-menu td.day.today, .datepicker.datepicker-inline td.day.today { background-color: #eee; }

.datepicker.dropdown-menu td.day.old, .datepicker.dropdown-menu td.day.new, .datepicker.datepicker-inline td.day.old, .datepicker.datepicker-inline td.day.new { color: #C8C9CC; pointer-events: none; }

.datepicker.dropdown-menu td.day.old.today, .datepicker.dropdown-menu td.day.new.today, .datepicker.datepicker-inline td.day.old.today, .datepicker.datepicker-inline td.day.new.today { color: #000; }

.datepicker.dropdown-menu td.day.active, .datepicker.datepicker-inline td.day.active { color: #fff; background-color: #FFBB00; text-shadow: none; pointer-events: none; }

.datepicker.dropdown-menu th.clear, .datepicker.datepicker-inline th.clear { font-size: 15px; padding-top: 18px; padding-bottom: 18px; }

@media only screen and (max-width: 320px) { .datepicker.dropdown-menu td.day, .datepicker.dropdown-menu th.clear, .datepicker.datepicker-inline td.day, .datepicker.datepicker-inline th.clear { padding-top: 14px; padding-bottom: 14px; } }

.portal-landing { padding: 70px 0; background-image: linear-gradient(137deg, #F2F2F2 0%, #FFFFFF 100%); }

.portal-landing .livewrap { width: 100%; max-width: 760px; margin: 0 auto; }

.portal-landing .titlecol { width: 280px; text-align: right; margin-right: 40px; color: #262929; }

.portal-landing .titlecol.login { padding: 35px 0 25px; }

.portal-landing .titlecol.signup { padding-top: 30px; }

.portal-landing .titlecol .title { font-weight: 800; font-size: 58px; line-height: 0.95; }

.portal-landing .titlecol .info { font-weight: 200; font-size: 45px; line-height: 1.2; }

.portal-landing .formcol { padding: 20px 0 80px 40px; border-left: 2px solid rgba(138, 138, 138, 0.53); }

.portal-landing .formcol .formwrap { width: 100%; max-width: 380px; }

.portal-landing .formcol .general-form { margin-bottom: 20px; }

.portal-landing .formcol .general-form .instruction { margin-bottom: 20px; }

.portal-landing .formcol .general-form input[type="text"], .portal-landing .formcol .general-form input[type="email"], .portal-landing .formcol .general-form input[type="password"], .portal-landing .formcol .general-form .acf-field input[type="text"], .portal-landing .formcol .general-form .acf-field input[type="email"], .portal-landing .formcol .general-form .acf-field input[type="password"] { padding-top: 20px; }

.portal-landing .formcol .general-form .acf-button { height: 40px; font-size: 16px; letter-spacing: 4px; margin-top: 35px; }

.portal-landing .formcol .featurebutton { width: 100%; }

.portal-landing .formcol .info { display: none; font-weight: 200; font-size: 20px; margin-bottom: 10px; }

.portal-landing .formcol .linkwrap { margin-bottom: 55px; }

.portal-landing .formcol .linkwrap a { font-weight: 700; font-size: 16px; letter-spacing: 0.53px; text-decoration: underline; }

.portal-landing .formcol.signup { padding-bottom: 20px; }

.portal-landing .formcol.signup .linkwrap { margin-bottom: 0; }

@media only screen and (max-width: 766px) { .portal-landing { padding: 40px 0; }
  .portal-landing .titlecol, .portal-landing .formcol { width: auto; }
  .portal-landing .titlecol { flex-basis: 35%; margin-right: 20px; }
  .portal-landing .titlecol .title { font-size: 40px; }
  .portal-landing .titlecol .info { font-size: 30px; }
  .portal-landing .formcol { flex-basis: 65%; padding-left: 20px; padding-bottom: 50px; }
  .portal-landing .formcol .featurebutton { height: 50px; } }

@media only screen and (max-width: 420px) { .portal-landing .livewrap { display: block; }
  .portal-landing .titlecol { text-align: center; padding: 0; margin: 0 0 20px; }
  .portal-landing .titlecol .title { font-size: 30px; }
  .portal-landing .titlecol .info, .portal-landing .titlecol br { display: none; }
  .portal-landing .titlecol.login, .portal-landing .titlecol.signup { padding: 0; }
  .portal-landing .formcol { padding: 0; border: none; }
  .portal-landing .formcol.signup { padding: 0; }
  .portal-landing .formcol .linkwrap { margin-bottom: 30px; }
  .portal-landing .formcol .info { display: block; }
  .portal-landing .formcol .general-form .instruction { text-align: center; } }

.dashboard-panel { padding: 35px 0; background-color: #fff; }

.dashboard-panel.fitlist { background-color: #F4F4F4; }

.dashboard-panel .empty { font-size: 18px; }

.dashboard-panel .program { position: relative; height: 135px; background-color: #fff; border: 1px solid #DEDEDE; -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; padding-right: 72px; margin-bottom: 20px; background-image: url("/wp-content/themes/emfit/assets/portal/dashboard-arrow-2x.png"); background-size: 28px; background-position: right 25px center; background-repeat: no-repeat; }

.dashboard-panel .program:last-of-type { margin-bottom: 0; }

.dashboard-panel .program:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }

.dashboard-panel .program .thumb { width: 220px; height: 100%; margin-right: 15px; }

.dashboard-panel .program .main { width: 400px; }

.dashboard-panel .program .kicker { font-weight: 800; font-size: 12px; color: #000; margin-bottom: 6px; text-transform: uppercase; }

.dashboard-panel .program .kicker .startdate { display: none; font-weight: 500; color: #C5C5C5; text-transform: none; margin-left: 5px; }

.dashboard-panel .program .name { font-weight: 800; line-height: 1.1; font-size: 26px; }

.dashboard-panel .program .version { font-weight: 300; font-size: 26px; }

.dashboard-panel .program .datewrap { position: absolute; top: 50%; right: 70px; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-weight: 500; font-size: 14px; color: #C5C5C5; text-align: right; }

.dashboard-panel .infowrap { padding-bottom: 45px; border-bottom: 1px solid #E1EAEB; }

.dashboard-panel .infowrap .avatar { display: inline-block; vertical-align: top; width: 220px; height: 220px; border-radius: 50%; background-color: #D8D8D8; margin: 0 80px 0 15px; }

.dashboard-panel .infowrap .details { display: inline-block; }

.dashboard-panel .infowrap .screennamewrap { margin-bottom: 40px; }

.dashboard-panel .infowrap .screenname { display: inline-block; height: 30px; padding: 0 20px; color: #fff; background-color: #262929; font-weight: 800; font-size: 14px; letter-spacing: 1.23px; }

.dashboard-panel .infowrap .memberwrap { font-size: 22px; line-height: 1.3; }

.dashboard-panel .infowrap .memberwrap .name { font-weight: 700; }

.dashboard-panel .infowrap .memberwrap .buttonwrap { margin-top: 25px; }

.dashboard-panel .infowrap .memberwrap.memberform { width: 100%; max-width: 450px; margin: 0 auto; }

.dashboard-panel .infowrap .date { font-weight: 800; font-size: 10px; margin-bottom: 44px; }

.dashboard-panel .infowrap .featurebutton { width: 100%; max-width: 380px; }

.dashboard-panel .infowrap .response { font-size: 16px; }

.dashboard-panel .history { color: #262929; padding: 40px 15px 0 15px; }

.dashboard-panel .history .title { font-weight: 700; font-size: 22px; margin-bottom: 40px; }

.dashboard-panel .history p { font-size: 14px; margin-bottom: 14px; }

.dashboard-panel .history p:last-of-type { margin-bottom: 0; }

.dashboard-panel .history p strong { font-weight: 700; }

@media only screen and (max-width: 992px) { .dashboard-panel .program .thumb { display: none; }
  .dashboard-panel .program .main { margin-left: 30px; } }

@media only screen and (max-width: 766px) { .dashboard-panel .program .name { font-size: 24px; }
  .dashboard-panel .program .version { font-size: 20px; }
  .dashboard-panel .program .kicker .startdate { display: inline-block; }
  .dashboard-panel .program .datewrap { display: none; }
  .dashboard-panel .infowrap { padding-bottom: 30px; }
  .dashboard-panel .infowrap .avatar { width: 160px; height: 160px; margin: 0 20px 0 0; }
  .dashboard-panel .infowrap .details { width: 320px; }
  .dashboard-panel .infowrap .memberwrap { font-size: 18px; margin-bottom: 15px; }
  .dashboard-panel .infowrap .memberwrap .email { font-size: 16px; }
  .dashboard-panel .history { padding: 30px 0 0; }
  .dashboard-panel .history .title { font-size: 22px; margin-bottom: 20px; } }

@media only screen and (max-width: 420px) { .dashboard-panel { padding: 30px 0; }
  .dashboard-panel .program { display: block; height: auto; padding: 20px 40px 20px 20px; background-position: right 10px center; }
  .dashboard-panel .program .main { width: auto; margin: 0; }
  .dashboard-panel .program .name { font-size: 20px; }
  .dashboard-panel .program .version { font-size: 16px; margin-top: 5px; }
  .dashboard-panel .program .kicker .startdate { display: block; margin: 5px 0 0; }
  .dashboard-panel .infowrap .avatar { display: block; width: 120px; height: 120px; background-color: #D8D8D8; margin: 0 auto 20px; }
  .dashboard-panel .infowrap .details { width: auto; display: block; } }

.challenge-panel .workoutdays, .challenge-panel .workoutmobile { width: 310px; }

.challenge-panel .workoutdays .entryday, .challenge-panel .workoutmobile .entryday { height: 70px; padding: 0 55px 0 60px; border-right: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; font-weight: 700; font-size: 16px; color: #262929; background-color: #fff; cursor: pointer; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; background-image: url("/wp-content/themes/emfit/assets/portal/navarrow-right-2x.png"); background-size: 28px; background-position: right 20px center; background-repeat: no-repeat; }

.challenge-panel .workoutdays .entryday:hover, .challenge-panel .workoutdays .entryday.active, .challenge-panel .workoutmobile .entryday:hover, .challenge-panel .workoutmobile .entryday.active { background-color: #F4F4F4; }

.challenge-panel .workoutdays .entryday.active, .challenge-panel .workoutmobile .entryday.active { background-image: none; pointer-events: none; }

.challenge-panel .workoutdays .entryday .navpoints, .challenge-panel .workoutmobile .entryday .navpoints { font-size: 10px; line-height: 16px; color: #000; float: right; }

@media only screen and (max-width: 1400px) { .challenge-panel .workoutdays, .challenge-panel .workoutmobile { width: 250px; }
  .challenge-panel .workoutdays .entryday, .challenge-panel .workoutmobile .entryday { padding-left: 40px; background-position: right 15px center; } }

@media only screen and (max-width: 992px) { .challenge-panel .workoutdays, .challenge-panel .workoutmobile { width: 140px; }
  .challenge-panel .workoutdays .entryday, .challenge-panel .workoutmobile .entryday { height: 50px; padding: 0 35px 0 20px; } }

.challenge-panel .workoutdays { float: left; }

.challenge-panel .workoutdays .entryday.active { pointer-events: none; }

@media only screen and (max-width: 992px) { .challenge-panel .workoutdays .entryday .navpoints { display: none; } }

@media only screen and (max-width: 766px) { .challenge-panel .workoutdays { display: none; } }

.challenge-panel .workoutmobile { display: none; width: 100%; }

.challenge-panel .workoutmobile .entryday { padding-right: 55px; }

.challenge-panel .workoutmobile .entryday.active { background-image: url("/wp-content/themes/emfit/assets/portal/navarrow-down-2x.png"); }

@media only screen and (max-width: 766px) { .challenge-panel .workoutmobile { display: block; } }

@media only screen and (max-width: 420px) { .challenge-panel .workoutmobile { width: 100vw; margin: 0 -20px; } }

.challenge-panel .contentwrap { width: 700px; margin: 0 auto; padding: 55px 0; }

.challenge-panel .contentwrap.lowpad { padding-top: 25px; }

@media only screen and (max-width: 1400px) { .challenge-panel .contentwrap { margin-left: 300px; } }

@media only screen and (max-width: 992px) { .challenge-panel .contentwrap { width: 570px; margin-left: 170px; } }

@media only screen and (max-width: 766px) { .challenge-panel .contentwrap { width: 100%; max-width: 580px; padding: 40px 20px 0; margin: 0 auto; }
  .challenge-panel .contentwrap.workouts { padding-top: 0; } }

.challenge-panel .pointheader { width: 100%; max-width: 430px; height: 64px; border-top: 1px solid rgba(196, 208, 209, 0.27); border-bottom: 1px solid rgba(196, 208, 209, 0.27); margin-bottom: 40px; }

.challenge-panel .pointheader .label { font-weight: 800; font-size: 16px; letter-spacing: 4px; margin-right: 25px; }

.challenge-panel .pointheader .pointcount { font-size: 18px; }

.challenge-panel .headline { margin-bottom: 30px; font-size: 26px; }

.challenge-panel .headline .bold { font-weight: 700; margin-bottom: 8px; }

.challenge-panel .featureimage { margin-bottom: 30px; }

.challenge-panel .featureimage img { width: 100%; }

.challenge-panel .bodytext { font-size: 16px; line-height: 1.75; color: #262929; }

.challenge-panel .bodytext p { margin-bottom: 30px; }

.challenge-panel .bodytext.videowrap { margin-bottom: 30px; }

.challenge-panel .bodytext.videowrap iframe { width: 100%; height: 500px; }

.challenge-panel .subheadmain { font-weight: 700; font-size: 42px; letter-spacing: -1px; margin: 60px 0 30px; }

.challenge-panel .subhead { font-weight: 700; font-size: 26px; margin: 40px 0 30px; }

.challenge-panel .videolink { font-weight: 700; font-size: 20px; }

.challenge-panel .resourcelist { padding: 60px 0; border-top: 1px solid rgba(196, 208, 209, 0.27); }

.challenge-panel .resourcelist .listtitle { font-weight: 700; font-size: 26px; margin-bottom: 25px; }

.challenge-panel .resourcelist a { font-weight: 700; }

.challenge-panel .pointwrap { position: relative; padding-left: 60px; border-bottom: 1px solid rgba(196, 208, 209, 0.27); color: #262929; }

.challenge-panel .pointwrap .question { height: 60px; font-weight: 700; font-size: 20px; }

.challenge-panel .pointwrap .help { font-size: 14px; line-height: 2; padding-bottom: 20px; }

.challenge-panel .pointwrap .pointtoggle { position: absolute; top: 15px; left: 12px; width: 30px; height: 30px; border-radius: 50%; background-color: #F1F1F1; cursor: pointer; -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.challenge-panel .pointwrap .pointtoggle:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.challenge-panel .pointwrap .pointtoggle.checked { background-image: url("/wp-content/themes/emfit/assets/portal/checktoggle-2x.png"); }

.challenge-panel .pointwrap .pointtoggle.disabled { pointer-events: none; }

@media only screen and (max-width: 992px) { .challenge-panel .bodytext.videowrap iframe { height: 400px; } }

@media only screen and (max-width: 766px) { .challenge-panel .resourcelist { padding: 30px 0; }
  .challenge-panel .resourcelist .listtitle { font-size: 24px; margin-bottom: 20px; }
  .challenge-panel .pointheader { margin-top: 20px; margin-bottom: 20px; }
  .challenge-panel .headline { font-size: 24px; margin-bottom: 20px; }
  .challenge-panel .featureimage { margin-bottom: 20px; }
  .challenge-panel .bodytext { font-size: 15px; line-height: 1.5; }
  .challenge-panel .bodytext p { margin-bottom: 20px; }
  .challenge-panel .bodytext.videowrap { margin-bottom: 20px; }
  .challenge-panel .bodytext.videowrap iframe { height: 300px; }
  .challenge-panel .subheadmain, .challenge-panel .subhead { font-size: 24px; margin: 30px 0 20px; } }

@media only screen and (max-width: 420px) { .challenge-panel .pointheader .label { margin: 0; }
  .challenge-panel .pointheader .pointcount { display: block; font-size: 15px; margin-top: 6px; }
  .challenge-panel .bodytext.videowrap iframe { height: 250px; } }

.program-panel .workoutweeks, .program-panel .workoutmobile { width: 310px; }

.program-panel .workoutweeks .entryweek, .program-panel .workoutmobile .entryweek { height: 70px; padding-left: 60px; border-right: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; font-weight: 700; font-size: 16px; color: #262929; background-color: #fff; cursor: pointer; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; background-image: url("/wp-content/themes/emfit/assets/portal/navarrow-right-2x.png"); background-size: 28px; background-position: right 20px center; background-repeat: no-repeat; }

.program-panel .workoutweeks .entryweek:hover, .program-panel .workoutweeks .entryweek.active, .program-panel .workoutmobile .entryweek:hover, .program-panel .workoutmobile .entryweek.active { background-color: #F4F4F4; }

.program-panel .workoutweeks .entryweek.active, .program-panel .workoutmobile .entryweek.active { background-image: none; pointer-events: none; }

@media only screen and (max-width: 1400px) { .program-panel .workoutweeks, .program-panel .workoutmobile { width: 250px; }
  .program-panel .workoutweeks .entryday, .program-panel .workoutmobile .entryday { padding-left: 40px; background-position: right 15px center; } }

@media only screen and (max-width: 1200px) { .program-panel .workoutweeks, .program-panel .workoutmobile { width: 220px; }
  .program-panel .workoutweeks .entryday, .program-panel .workoutmobile .entryday { padding-left: 30px; background-position: right 10px center; } }

@media only screen and (max-width: 992px) { .program-panel .workoutweeks, .program-panel .workoutmobile { width: 140px; }
  .program-panel .workoutweeks .entryweek, .program-panel .workoutmobile .entryweek { height: 50px; padding-left: 20px; background-position: right 10px center; } }

.program-panel .workoutweeks { float: left; }

.program-panel .workoutweeks .entryweek.active { background-image: none; pointer-events: none; }

@media only screen and (max-width: 766px) { .program-panel .workoutweeks { display: none; } }

.program-panel .workoutmobile { display: none; width: 100%; }

.program-panel .workoutmobile .entryweek.active { background-image: url("/wp-content/themes/emfit/assets/portal/navarrow-down-2x.png"); }

@media only screen and (max-width: 766px) { .program-panel .workoutmobile { display: block; } }

@media only screen and (max-width: 420px) { .program-panel .workoutmobile { width: 100vw; margin: 0 -20px; } }

.program-panel .contentwrap { width: 700px; margin: 0 auto; padding: 55px 0; }

.program-panel .contentwrap.lowpad { padding-top: 25px; }

@media only screen and (max-width: 1200px) { .program-panel .contentwrap { margin-left: 250px; } }

@media only screen and (max-width: 992px) { .program-panel .contentwrap { width: 570px; margin-left: 170px; } }

@media only screen and (max-width: 766px) { .program-panel .contentwrap { width: 100%; max-width: 580px; padding: 0 20px; margin: 0 auto; }
  .program-panel .contentwrap.intro { padding-top: 40px; } }

.program-panel .introtitle { font-weight: 700; font-size: 26px; margin-bottom: 25px; }

.program-panel .bodytext { font-size: 16px; line-height: 1.75; color: #262929; }

.program-panel .bodytext p { margin-bottom: 30px; }

.program-panel .pdflink { font-weight: 700; font-size: 20px; }

.program-panel .entryday { border-bottom: 1px solid #E1EAEB; }

.program-panel .dayhead { position: relative; height: 70px; cursor: pointer; background-color: #fff; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }

.program-panel .dayhead:hover { background-color: #F4F4F4; }

.program-panel .dayhead.active, .program-panel .dayhead.rest { pointer-events: none; }

.program-panel .dayhead .daylabel { font-weight: 700; font-size: 26px; }

.program-panel .dayhead .displaydate { vertical-align: middle; font-size: 10px; height: 15px; line-height: 14px; margin-left: 20px; padding-left: 20px; background-image: url("/wp-content/themes/emfit/assets/portal/icon-dateclock-2x.png"); background-size: 15px; background-position: left center; background-repeat: no-repeat; }

.program-panel .dayhead .complete { position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); height: 30px; padding: 0 15px; font-weight: 700; font-size: 14px; color: #fff; background-color: #E3E3E3; }

.program-panel .dayhead .complete.hilite { background-color: #5BC095; }

.program-panel .stepwrap { padding-bottom: 30px; }

.program-panel .daystep { position: relative; font-weight: 700; font-size: 42px; margin: 30px 0; }

.program-panel .daystep .stepnotice { float: right; font-weight: 500; font-size: 12px; color: #C1C1C1; text-align: right; margin: 15px 45px 0 0; pointer-events: none; }

.program-panel .daystep .steptoggle { position: absolute; top: 6px; right: 0; width: 30px; height: 30px; border-radius: 50%; background-color: #F1F1F1; cursor: pointer; -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.program-panel .daystep .steptoggle:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.program-panel .daystep .steptoggle.checked { background-image: url("/wp-content/themes/emfit/assets/portal/checktoggle-2x.png"); }

.program-panel .daystep .steptoggle.disabled { pointer-events: none; }

.program-panel .instructions { font-weight: 700; font-size: 16px; line-height: 1.75; color: #262929; margin-bottom: 40px; }

.program-panel .videowrap { border-top: 1px solid rgba(196, 208, 209, 0.27); }

.program-panel .videowrap .videoentry { position: relative; width: 100%; max-width: 670px; height: 60px; padding-left: 60px; border-bottom: 1px solid rgba(196, 208, 209, 0.27); font-weight: 700; font-size: 22px; color: #262929; }

.program-panel .videowrap .videotoggle { display: block; position: absolute; top: 15px; left: 12px; width: 30px; height: 30px; border-radius: 50%; background-image: url("/wp-content/themes/emfit/assets/portal/videotoggle-2x.png"); -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.program-panel .videowrap .videotoggle:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.program-panel .commentwrap { min-height: 90px; padding: 30px 0 20px 30px; border-bottom: 1px solid #E1EAEB; background-image: url("/wp-content/themes/emfit/assets/portal/program-commentarrow-2x.png"); background-size: 29px; background-position: left top 30px; background-repeat: no-repeat; }

.program-panel .commentwrap .programcomment { width: 100%; font-size: 19px; line-height: 1.4; letter-spacing: 0.59px; border: none; }

.program-panel .commentwrap .programcomment::-webkit-input-placeholder { color: #949EA0; }

.program-panel .commentwrap .programcomment::-moz-placeholder { color: #949EA0; }

.program-panel .commentwrap .programcomment:-ms-input-placeholder { color: #949EA0; }

.program-panel .commentwrap .programcomment::-ms-input-placeholder { color: #949EA0; }

.program-panel .commentwrap .programcomment::placeholder { color: #949EA0; }

.program-panel .commentwrap .entrywrap { margin-bottom: 15px; }

.program-panel .commentwrap .buttonwrap { text-align: right; }

.program-panel .commentwrap .commentbutton.disabled, .program-panel .commentwrap .programcomment.disabled { opacity: 0.5; pointer-events: none; }

@media only screen and (max-width: 766px) { .program-panel .introtitle { font-size: 24px; margin-bottom: 20px; }
  .program-panel .bodytext { font-size: 15px; line-height: 1.5; }
  .program-panel .bodytext p { margin-bottom: 20px; }
  .program-panel .dayhead .daylabel { font-size: 22px; }
  .program-panel .daystep { font-size: 26px; margin: 20px 0; }
  .program-panel .daystep .stepnotice { margin-top: 10px; }
  .program-panel .daystep .steptoggle { top: 0; }
  .program-panel .instructions { font-size: 15px; margin-bottom: 20px; }
  .program-panel .videowrap .videoentry { font-size: 16px; line-height: 1.2; padding-left: 50px; }
  .program-panel .videowrap .videotoggle { left: 5px; }
  .program-panel .stepwrap { padding-bottom: 20px; }
  .program-panel .commentwrap .programcomment { font-size: 16px; } }

@media only screen and (max-width: 420px) { .program-panel .dayhead .displaydate { display: block; margin: 8px 0 0; }
  .program-panel .daystep .stepnotice { display: block; float: none; margin: 10px 0 0; } }

/**
 * Simplicity Changes
 */
.panel-introoffer .wp-klaviyo-form {
  max-width: 26.25rem;
}
.panel-introoffer .wp-klaviyo-form input {
  box-sizing: border-box;

  font-size: 1.25rem;
  letter-spacing: .0625rem;
  line-height: 1.5;
  text-transform: uppercase;

  width: 100%;
  border: .0625rem solid #F2F2F2;
  border-radius: .25rem;
  padding: .875rem 1.25rem;
  background: #FFF;
  margin: 0 0 .5rem 0;
}
.panel-introoffer .wp-klaviyo-form button {
  box-sizing: border-box;
  width: 100%;
  height: 3.75rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-shadow: none;
  border: 4px solid #5BC095;
  background-color: #fff;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);
  font-weight: 800;
  cursor: pointer;
  margin-top: 30px;
}
.panel-introoffer .wp-klaviyo-form input:focus,
.panel-introoffer .wp-klaviyo-form button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
.panel-introoffer .wp-klaviyo-form__before-form {
  font-weight: 700;
  font-size: .9375rem;
  letter-spacing: .0625rem;
  color: #262929;
  margin-bottom: .625rem;
}
.panel-introoffer .wp-klaviyo-form__before-submit {
  text-align: right;
  font-style: italic;
  font-size: .75rem;
  letter-spacing: .0625rem;
  color: #262929;
  margin-top: 0.125rem;
}
.panel-introoffer .wp-klaviyo-response {
  font-size: .75rem;
  letter-spacing: .0625rem;
  color: #262929;
  margin-top: 1rem;
  text-align: center;
}
.panel-introoffer .wp-klaviyo-response__success {
  color: rgb(5, 122, 85);
}
.panel-introoffer .wp-klaviyo-response__error {
  color: rgb(224, 36, 36);
}
.bodytext__embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.bodytext__embed iframe,
.bodytext__embed object,
.bodytext__embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Popup
 */
.wp-klaviyo-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
body.wp-klaviyo-popup-active .wp-klaviyo-popup {
  opacity: 1;
  visibility: visible;
  backface-visibility: visible;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.wp-klaviyo-popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #000;
  opacity: .6;
}
.wp-klaviyo-popup__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 600px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  z-index: 20;
  background: #FFD562;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.wp-klaviyo-popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  top: -16px;
  right: -16px;
  background: url("../assets/popup-close.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.50);
  border-radius: 9999px;
  z-index: 10;
}
.wp-klaviyo-popup__column {
  max-width: 350px;
  width: 100%;
  padding: 24px 0 24px 24px;
}
.wp-klaviyo-popup__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #363633;
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 8px;
}
.wp-klaviyo-popup__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #1D1D1D;
  margin-bottom: 24px;
}
.wp-klaviyo-popup .wp-klaviyo-form {
  max-width: 300px;
}
.wp-klaviyo-popup .wp-klaviyo-form input {
  border: 1px solid #E1E1E1;
  background: #FFF;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  padding: 9px 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}
.wp-klaviyo-popup .wp-klaviyo-form button {
  margin-top: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-shadow: none;
  border: 4px solid #5BC095;
  background-color: #fff;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);
  font-weight: 800;
  cursor: pointer;
}
.wp-klaviyo-popup .img {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.wp-klaviyo-popup .wp-klaviyo-response {
  font-size: .75rem;
  letter-spacing: .0625rem;
  color: #262929;
  margin-top: 1rem;
  text-align: center;
}
.wp-klaviyo-popup .wp-klaviyo-response__success {
  color: rgb(5, 122, 85);
}
.wp-klaviyo-popup .wp-klaviyo-response__error {
  color: rgb(224, 36, 36);
}
@media only screen and (max-width: 640px) {
  .wp-klaviyo-popup__content {
    width: calc(100% - 44px);
    flex-direction: column-reverse;
    padding-top: 8px;
  }
  .wp-klaviyo-popup__column {
    max-width: 100%;
    padding: 0 16px 24px 16px;
  }
  .wp-klaviyo-popup .wp-klaviyo-form {
    max-width: 100%;
  }
  .wp-klaviyo-popup .img {
    position: relative;
    bottom: auto;
    right: auto;
    width: 174px;
    height: 174px;
    background: #FFDE85;
    border-radius: 9999px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .wp-klaviyo-popup .img img {
    width: 95px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .wp-klaviyo-popup__title {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
  }
  .wp-klaviyo-popup__subtitle {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 16px;
  }
  .wp-klaviyo-popup__close {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    top: -12px;
    right: -12px;
  }
}

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin: 20px 0; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }